# Configuration file

fluids {
    S:fluid.adamantine.molten.cardrank=
    S:fluid.adamantine.molten.grammar=
    S:fluid.adamantine.molten.instability.factor_accessibility=
    S:fluid.adamantine.molten.instability.factor_flat=
    S:fluid.adamantine.molten.seabanned=
    S:fluid.aerotheum.cardrank=
    S:fluid.aerotheum.grammar=
    S:fluid.aerotheum.instability.factor_accessibility=
    S:fluid.aerotheum.instability.factor_flat=
    S:fluid.aluminum.molten.cardrank=
    S:fluid.aluminum.molten.grammar=
    S:fluid.aluminum.molten.instability.factor_accessibility=
    S:fluid.aluminum.molten.instability.factor_flat=
    S:fluid.aluminum.molten.seabanned=
    S:fluid.amethyst.molten.cardrank=
    S:fluid.amethyst.molten.grammar=
    S:fluid.amethyst.molten.instability.factor_accessibility=
    S:fluid.amethyst.molten.instability.factor_flat=
    S:fluid.amethyst.molten.seabanned=
    S:fluid.baronyte.molten.cardrank=
    S:fluid.baronyte.molten.grammar=
    S:fluid.baronyte.molten.instability.factor_accessibility=
    S:fluid.baronyte.molten.instability.factor_flat=
    S:fluid.baronyte.molten.seabanned=
    S:fluid.bedrockium.molten.cardrank=
    S:fluid.bedrockium.molten.grammar=
    S:fluid.bedrockium.molten.instability.factor_accessibility=
    S:fluid.bedrockium.molten.instability.factor_flat=
    S:fluid.bedrockium.molten.seabanned=
    S:fluid.blazium.molten.cardrank=
    S:fluid.blazium.molten.grammar=
    S:fluid.blazium.molten.instability.factor_accessibility=
    S:fluid.blazium.molten.instability.factor_flat=
    S:fluid.blazium.molten.seabanned=
    S:fluid.blood.cardrank=
    S:fluid.blood.grammar=
    S:fluid.blood.instability.factor_accessibility=
    S:fluid.blood.instability.factor_flat=
    S:fluid.blood.seabanned=
    S:fluid.brass.molten.cardrank=
    S:fluid.brass.molten.grammar=
    S:fluid.brass.molten.instability.factor_accessibility=
    S:fluid.brass.molten.instability.factor_flat=
    S:fluid.brass.molten.seabanned=
    S:fluid.coal.cardrank=
    S:fluid.coal.grammar=
    S:fluid.coal.instability.factor_accessibility=
    S:fluid.coal.instability.factor_flat=
    S:fluid.coal.seabanned=
    S:fluid.copper.molten.cardrank=
    S:fluid.copper.molten.grammar=
    S:fluid.copper.molten.instability.factor_accessibility=
    S:fluid.copper.molten.instability.factor_flat=
    S:fluid.copper.molten.seabanned=
    S:fluid.creosote.cardrank=
    S:fluid.creosote.grammar=
    S:fluid.creosote.instability.factor_accessibility=
    S:fluid.creosote.instability.factor_flat=
    S:fluid.creosote.seabanned=
    S:fluid.cryotheum.cardrank=
    S:fluid.cryotheum.grammar=
    S:fluid.cryotheum.instability.factor_accessibility=
    S:fluid.cryotheum.instability.factor_flat=
    S:fluid.cryotheum.seabanned=
    S:fluid.dark.steel.molten.cardrank=
    S:fluid.dark.steel.molten.grammar=
    S:fluid.dark.steel.molten.instability.factor_accessibility=
    S:fluid.dark.steel.molten.instability.factor_flat=
    S:fluid.dark.steel.molten.seabanned=
    S:fluid.elecanium.molten.cardrank=
    S:fluid.elecanium.molten.grammar=
    S:fluid.elecanium.molten.instability.factor_accessibility=
    S:fluid.elecanium.molten.instability.factor_flat=
    S:fluid.elecanium.molten.seabanned=
    S:fluid.elementium.molten.cardrank=
    S:fluid.elementium.molten.grammar=
    S:fluid.elementium.molten.instability.factor_accessibility=
    S:fluid.elementium.molten.instability.factor_flat=
    S:fluid.elementium.molten.seabanned=
    S:fluid.emberstone.molten.cardrank=
    S:fluid.emberstone.molten.grammar=
    S:fluid.emberstone.molten.instability.factor_accessibility=
    S:fluid.emberstone.molten.instability.factor_flat=
    S:fluid.emberstone.molten.seabanned=
    S:fluid.endergoo.cardrank=
    S:fluid.endergoo.grammar=
    S:fluid.endergoo.instability.factor_accessibility=
    S:fluid.endergoo.instability.factor_flat=
    S:fluid.endergoo.seabanned=
    S:fluid.fairy.molten.cardrank=
    S:fluid.fairy.molten.grammar=
    S:fluid.fairy.molten.instability.factor_accessibility=
    S:fluid.fairy.molten.instability.factor_flat=
    S:fluid.fairy.molten.seabanned=
    S:fluid.fluiddeath.cardrank=
    S:fluid.fluiddeath.grammar=
    S:fluid.fluiddeath.instability.factor_accessibility=
    S:fluid.fluiddeath.instability.factor_flat=
    S:fluid.fluiddeath.seabanned=
    S:fluid.fluidpure.cardrank=
    S:fluid.fluidpure.grammar=
    S:fluid.fluidpure.instability.factor_accessibility=
    S:fluid.fluidpure.instability.factor_flat=
    S:fluid.fluidpure.seabanned=
    S:fluid.fluxgoo.cardrank=
    S:fluid.fluxgoo.grammar=
    S:fluid.fluxgoo.instability.factor_accessibility=
    S:fluid.fluxgoo.instability.factor_flat=
    S:fluid.fluxgoo.seabanned=
    S:fluid.ghastly.molten.cardrank=
    S:fluid.ghastly.molten.grammar=
    S:fluid.ghastly.molten.instability.factor_accessibility=
    S:fluid.ghastly.molten.instability.factor_flat=
    S:fluid.ghastly.molten.seabanned=
    S:fluid.ghoulish.molten.cardrank=
    S:fluid.ghoulish.molten.grammar=
    S:fluid.ghoulish.molten.instability.factor_accessibility=
    S:fluid.ghoulish.molten.instability.factor_flat=
    S:fluid.ghoulish.molten.seabanned=
    S:fluid.glass.molten.cardrank=
    S:fluid.glass.molten.grammar=
    S:fluid.glass.molten.instability.factor_accessibility=
    S:fluid.glass.molten.instability.factor_flat=
    S:fluid.glass.molten.seabanned=
    S:fluid.glowstone.cardrank=
    S:fluid.glowstone.grammar=
    S:fluid.glowstone.instability.factor_accessibility=
    S:fluid.glowstone.instability.factor_flat=
    S:fluid.glue.cardrank=
    S:fluid.glue.grammar=
    S:fluid.glue.instability.factor_accessibility=
    S:fluid.glue.instability.factor_flat=
    S:fluid.glue.seabanned=
    S:fluid.heavyoil.cardrank=
    S:fluid.heavyoil.grammar=
    S:fluid.heavyoil.instability.factor_accessibility=
    S:fluid.heavyoil.instability.factor_flat=
    S:fluid.heavyoil.seabanned=
    S:fluid.hotcrude.cardrank=
    S:fluid.hotcrude.grammar=
    S:fluid.hotcrude.instability.factor_accessibility=
    S:fluid.hotcrude.instability.factor_flat=
    S:fluid.hotcrude.seabanned=
    S:fluid.iron.molten.cardrank=
    S:fluid.iron.molten.grammar=
    S:fluid.iron.molten.instability.factor_accessibility=
    S:fluid.iron.molten.instability.factor_flat=
    S:fluid.iron.molten.seabanned=
    S:fluid.jade.molten.cardrank=
    S:fluid.jade.molten.grammar=
    S:fluid.jade.molten.instability.factor_accessibility=
    S:fluid.jade.molten.instability.factor_flat=
    S:fluid.jade.molten.seabanned=
    S:fluid.lead.molten.cardrank=
    S:fluid.lead.molten.grammar=
    S:fluid.lead.molten.instability.factor_accessibility=
    S:fluid.lead.molten.instability.factor_flat=
    S:fluid.lead.molten.seabanned=
    S:fluid.life_essence.cardrank=
    S:fluid.life_essence.grammar=
    S:fluid.life_essence.instability.factor_accessibility=
    S:fluid.life_essence.instability.factor_flat=
    S:fluid.life_essence.seabanned=
    S:fluid.lightoil.cardrank=
    S:fluid.lightoil.grammar=
    S:fluid.lightoil.instability.factor_accessibility=
    S:fluid.lightoil.instability.factor_flat=
    S:fluid.lightoil.seabanned=
    S:fluid.limonite.molten.cardrank=
    S:fluid.limonite.molten.grammar=
    S:fluid.limonite.molten.instability.factor_accessibility=
    S:fluid.limonite.molten.instability.factor_flat=
    S:fluid.limonite.molten.seabanned=
    S:fluid.lyon.molten.cardrank=
    S:fluid.lyon.molten.grammar=
    S:fluid.lyon.molten.instability.factor_accessibility=
    S:fluid.lyon.molten.instability.factor_flat=
    S:fluid.lyon.molten.seabanned=
    S:fluid.mana.cardrank=
    S:fluid.mana.grammar=
    S:fluid.mana.instability.factor_accessibility=
    S:fluid.mana.instability.factor_flat=
    S:fluid.mana.seabanned=
    S:fluid.manasteel.molten.cardrank=
    S:fluid.manasteel.molten.grammar=
    S:fluid.manasteel.molten.instability.factor_accessibility=
    S:fluid.manasteel.molten.instability.factor_flat=
    S:fluid.manasteel.molten.seabanned=
    S:fluid.moltenaeonsteel.cardrank=
    S:fluid.moltenaeonsteel.grammar=
    S:fluid.moltenaeonsteel.instability.factor_accessibility=
    S:fluid.moltenaeonsteel.instability.factor_flat=
    S:fluid.moltenaeonsteel.seabanned=
    S:fluid.moltendogbearium.cardrank=
    S:fluid.moltendogbearium.grammar=
    S:fluid.moltendogbearium.instability.factor_accessibility=
    S:fluid.moltendogbearium.instability.factor_flat=
    S:fluid.moltendogbearium.seabanned=
    S:fluid.moltenqueensgold.cardrank=
    S:fluid.moltenqueensgold.grammar=
    S:fluid.moltenqueensgold.instability.factor_accessibility=
    S:fluid.moltenqueensgold.instability.factor_flat=
    S:fluid.moltenqueensgold.seabanned=
    S:fluid.myst.ink.black.cardrank=
    S:fluid.myst.ink.black.grammar=
    S:fluid.myst.ink.black.instability.factor_accessibility=
    S:fluid.myst.ink.black.instability.factor_flat=
    S:fluid.myst.ink.black.seabanned=
    S:fluid.mystite.molten.cardrank=
    S:fluid.mystite.molten.grammar=
    S:fluid.mystite.molten.instability.factor_accessibility=
    S:fluid.mystite.molten.instability.factor_flat=
    S:fluid.mystite.molten.seabanned=
    S:fluid.naturalgas.cardrank=
    S:fluid.naturalgas.grammar=
    S:fluid.naturalgas.instability.factor_accessibility=
    S:fluid.naturalgas.instability.factor_flat=
    S:fluid.nickel.molten.cardrank=
    S:fluid.nickel.molten.grammar=
    S:fluid.nickel.molten.instability.factor_accessibility=
    S:fluid.nickel.molten.instability.factor_flat=
    S:fluid.nickel.molten.seabanned=
    S:fluid.obsidian.molten.cardrank=
    S:fluid.obsidian.molten.grammar=
    S:fluid.obsidian.molten.instability.factor_accessibility=
    S:fluid.obsidian.molten.instability.factor_flat=
    S:fluid.obsidian.molten.seabanned=
    S:fluid.oil.cardrank=
    S:fluid.oil.grammar=
    S:fluid.oil.instability.factor_accessibility=
    S:fluid.oil.instability.factor_flat=
    S:fluid.oil.seabanned=
    S:fluid.petrotheum.cardrank=
    S:fluid.petrotheum.grammar=
    S:fluid.petrotheum.instability.factor_accessibility=
    S:fluid.petrotheum.instability.factor_flat=
    S:fluid.petrotheum.seabanned=
    S:fluid.pokefennium.molten.cardrank=
    S:fluid.pokefennium.molten.grammar=
    S:fluid.pokefennium.molten.instability.factor_accessibility=
    S:fluid.pokefennium.molten.instability.factor_flat=
    S:fluid.pokefennium.molten.seabanned=
    S:fluid.pyrotheum.cardrank=
    S:fluid.pyrotheum.grammar=
    S:fluid.pyrotheum.instability.factor_accessibility=
    S:fluid.pyrotheum.instability.factor_flat=
    S:fluid.pyrotheum.seabanned=
    S:fluid.red.aurum.molten.cardrank=
    S:fluid.red.aurum.molten.grammar=
    S:fluid.red.aurum.molten.instability.factor_accessibility=
    S:fluid.red.aurum.molten.instability.factor_flat=
    S:fluid.red.aurum.molten.seabanned=
    S:fluid.redstone.cardrank=
    S:fluid.redstone.grammar=
    S:fluid.redstone.instability.factor_accessibility=
    S:fluid.redstone.instability.factor_flat=
    S:fluid.redstone.seabanned=
    S:fluid.rosite.molten.cardrank=
    S:fluid.rosite.molten.grammar=
    S:fluid.rosite.molten.instability.factor_accessibility=
    S:fluid.rosite.molten.instability.factor_flat=
    S:fluid.rosite.molten.seabanned=
    S:fluid.sapphire.molten.cardrank=
    S:fluid.sapphire.molten.grammar=
    S:fluid.sapphire.molten.instability.factor_accessibility=
    S:fluid.sapphire.molten.instability.factor_flat=
    S:fluid.sapphire.molten.seabanned=
    S:fluid.skeletal.molten.cardrank=
    S:fluid.skeletal.molten.grammar=
    S:fluid.skeletal.molten.instability.factor_accessibility=
    S:fluid.skeletal.molten.instability.factor_flat=
    S:fluid.skeletal.molten.seabanned=
    S:fluid.slime.blue.cardrank=
    S:fluid.slime.blue.grammar=
    S:fluid.slime.blue.instability.factor_accessibility=
    S:fluid.slime.blue.instability.factor_flat=
    S:fluid.slime.blue.seabanned=
    S:fluid.steam.cardrank=
    S:fluid.steam.grammar=
    S:fluid.steam.instability.factor_accessibility=
    S:fluid.steam.instability.factor_flat=
    S:fluid.stone.seared.cardrank=
    S:fluid.stone.seared.grammar=
    S:fluid.stone.seared.instability.factor_accessibility=
    S:fluid.stone.seared.instability.factor_flat=
    S:fluid.stone.seared.seabanned=
    S:fluid.tar.cardrank=
    S:fluid.tar.grammar=
    S:fluid.tar.instability.factor_accessibility=
    S:fluid.tar.instability.factor_flat=
    S:fluid.tar.seabanned=
    S:fluid.terrasteel.molten.cardrank=
    S:fluid.terrasteel.molten.grammar=
    S:fluid.terrasteel.molten.instability.factor_accessibility=
    S:fluid.terrasteel.molten.instability.factor_flat=
    S:fluid.terrasteel.molten.seabanned=
    S:fluid.tile.antiliquid.cardrank=
    S:fluid.tile.antiliquid.grammar=
    S:fluid.tile.antiliquid.instability.factor_accessibility=
    S:fluid.tile.antiliquid.instability.factor_flat=
    S:fluid.tile.antiliquid.seabanned=
    S:fluid.tile.cwater.cardrank=
    S:fluid.tile.cwater.grammar=
    S:fluid.tile.cwater.instability.factor_accessibility=
    S:fluid.tile.cwater.instability.factor_flat=
    S:fluid.tile.cwater.seabanned=
    S:fluid.tin.molten.cardrank=
    S:fluid.tin.molten.grammar=
    S:fluid.tin.molten.instability.factor_accessibility=
    S:fluid.tin.molten.instability.factor_flat=
    S:fluid.tin.molten.seabanned=
    S:fluid.varsium.molten.cardrank=
    S:fluid.varsium.molten.grammar=
    S:fluid.varsium.molten.instability.factor_accessibility=
    S:fluid.varsium.molten.instability.factor_flat=
    S:fluid.varsium.molten.seabanned=
    S:fluid.voidmetal.molten.cardrank=
    S:fluid.voidmetal.molten.grammar=
    S:fluid.voidmetal.molten.instability.factor_accessibility=
    S:fluid.voidmetal.molten.instability.factor_flat=
    S:fluid.voidmetal.molten.seabanned=
    S:"fluid.witchery:brew.cardrank"=
    S:"fluid.witchery:brew.grammar"=
    S:"fluid.witchery:brew.instability.factor_accessibility"=
    S:"fluid.witchery:brew.instability.factor_flat"=
    S:"fluid.witchery:brew.seabanned"=
    S:"fluid.witchery:brewliquid.cardrank"=
    S:"fluid.witchery:brewliquid.grammar"=
    S:"fluid.witchery:brewliquid.instability.factor_accessibility"=
    S:"fluid.witchery:brewliquid.instability.factor_flat"=
    S:"fluid.witchery:brewliquid.seabanned"=
    S:"fluid.witchery:fluiddisease.cardrank"=
    S:"fluid.witchery:fluiddisease.grammar"=
    S:"fluid.witchery:fluiddisease.instability.factor_accessibility"=
    S:"fluid.witchery:fluiddisease.instability.factor_flat"=
    S:"fluid.witchery:fluiddisease.seabanned"=
    S:"fluid.witchery:fluidspirit.cardrank"=
    S:"fluid.witchery:fluidspirit.grammar"=
    S:"fluid.witchery:fluidspirit.instability.factor_accessibility"=
    S:"fluid.witchery:fluidspirit.instability.factor_flat"=
    S:"fluid.witchery:fluidspirit.seabanned"=
    S:"fluid.witchery:hollowtears.cardrank"=
    S:"fluid.witchery:hollowtears.grammar"=
    S:"fluid.witchery:hollowtears.instability.factor_accessibility"=
    S:"fluid.witchery:hollowtears.instability.factor_flat"=
    S:"fluid.witchery:hollowtears.seabanned"=
    S:fluid.zinc.molten.cardrank=
    S:fluid.zinc.molten.grammar=
    S:fluid.zinc.molten.instability.factor_accessibility=
    S:fluid.zinc.molten.instability.factor_flat=
    S:fluid.zinc.molten.seabanned=
}


instability {
    S:global.difficulty=
    B:global.enabled=true
}


